fastapi
uvicorn
python-dotenv
pydantic
requests
beautifulsoup4
pymongo
dnspython
apscheduler
langgraph
langsmith
langchain-core
langchain-google-genai
langgraph-checkpoint-mongodb
google-api-python-client
google-auth
google-auth-oauthlib
google-auth-httplib2
typing-extensions